/*
  .class
  #id
*/

:root {
  --bg-light: hsl(33, 28%, 82%);
  --bg-dark: hsl(33, 28%, 72%);
  --border: hsl(33, 28%, 32%);
}

* {
  border-radius: 4px;
}

html {
  height: 100%;
  font-family: 'Varela Round', sans-serif;
  font-size: 10pt;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  height: 100%;
  overflow-y: hidden;
  background-image: url(./music2.jpg);
  background-size: cover;
}

h1 {
  background: hsla(0, 0%, 100%, 0.5);
  width: max-content;
  padding: 0.1em 0.2em;
  box-shadow: 2px 2px 3px 0px black;
}

button {
  border: 1px solid;
  font-family: 'Varela Round', sans-serif;
  box-shadow: 1px 1px 1px 0px hsla(0, 0%, 0%, 0.6);
}

.buttonGlobalUpgrade {
  background: hsl(0, 0%, 90%);
  min-width: 75%;
}

.buttonGlobalUpgrade:hover {
  background: hsl(0, 0%, 80%);
}

.buttonGlobalUpgrade:active {
  background: hsl(0, 0%, 95%);
}

.buttonUtil {
  background: hsl(0, 0%, 90%);
}

.buttonUtil:hover {
  background: hsl(0, 0%, 80%);
}

.buttonUtil:active {
  background: hsl(0, 0%, 95%);
}

#staticWindow {
  height: 100%;
  padding: 0.5em;
  box-shadow: 2px 2px 3px 0px black;
}

#globalUpgradeGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 0.5em;
  justify-items: center;
  margin-bottom: 0.5em;
}

.gProgressContainer {
  width: 100%;
  height: 1em;
  background: hsl(0, 0%, 75%);
  box-shadow:inset 1px 1px 3px -1px black;
}

.gProgressBar {
  width: 0%;
  height: 1em;
  background: hsl(0, 0%, 50%);
}

.gCheckboxEnable {
  box-shadow: inset 1px 1px 1px 0px;
}

#legendDiv {
  margin-top: 1em;
}

#legendUl {
  margin-top: 0px;
}

#octaveColumn {
}

#octaveList {
}

.oContainer {
  opacity: 0;
  height: 0;
  transition: opacity 1s, height 1s, padding 1s, margin-bottom 1s;
  padding: 0.5em;
  margin-bottom: 0.2em;
  box-shadow: 2px 2px 3px 0px black;
}

.oLabelContainer {
  display: grid;
  grid-template-columns: 99fr 1fr;
}

.oLabel {
  background: hsla(0, 0%, 0%, 0.2);
  width: max-content;
  padding: 0.1em 0.2em;
  box-shadow: 2px 2px 3px 0px black;
}

.oProgressContainer {
  width: 100%;
  height: 1em;
  background: hsl(0, 0%, 75%);
  margin-bottom: 0.2em;
  box-shadow:inset 1px 1px 3px -1px black;
}

.oProgressBar {
  width: 0%;
  height: 1em;
}

.oStatDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.oUpgradeContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

#resetContainer {
  display: none;
  position: absolute;
  background: white;
  margin: 5em;
  padding: 5em;
}

#resetButton {
  margin-top: 5em;
}

.particle {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  font-size: 20pt;
}
